@model SUNFISH.ViewModels.VirtualMachineVM
@using SUNFISH.ViewModels
@{
    ViewData["Title"] = "Create";
    <link rel="stylesheet" href="~/css/PlansStyling.css" type="text/css" />
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>VirtualMachine</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input name="tenantId" type="hidden" value="@ViewData["Tenant"]" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OperatingSystem" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="OperatingSystem" class="form-control">
                    <option value="1">Windows Server 2012 Data Centre</option>
                    <option value="2">Windows Server 2016 Data Centre</option>
                    <option value="3">RedHat Enterprise Linux</option>
                    <option value="4">Ubuntu Server 16.10</option>
                </select>
                <span asp-validation-for="OperatingSystem" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="StorageDiskType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StorageDiskType" class="form-control">
                    <option value="1">SSD</option>
                    <option value="2">HDD</option>
                    <option value="3">SSHD</option>
                </select>
                <span asp-validation-for="StorageDiskType" class="text-danger" />
            </div>
        </div>

        @*<div class="form-group">
            <label asp-for="SubscriptionPlan" class="col-md-2 control-label"></label>
            <div class="col-md-10">
            <div class="radio radio-inline">
            <label><input type="radio" asp-for="SubscriptionPlan" name="SubscriptionPlan" value="basic" checked />BASIC</label>
            </div>
            <div class="radio radio-inline">
            <label><input type="radio" asp-for="SubscriptionPlan" name="SubscriptionPlan" value="classic" />CLASSIC</label>
            </div>
            <div class="radio radio-inline">
            <label><input type="radio" asp-for="SubscriptionPlan" name="SubscriptionPlan" value="premium" />PREMIUM</label>
            </div>
            </div>
            </div>
            <div class="form-group">
            <label class="col-md-2 control-label">SLA Policies</label>
            <div class="col-md-10 policies">
            <select name="policies" class="form-control policiesNames">
            @if (ViewData["policies"] != null)
            {
            @foreach (var item in ViewData["policies"] as IEnumerable<string>)
            {
            <option value="@item">@item.ToString()</option>
            }
            }
            </select>
            </div>
            </div>
            <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
            <button class="btn btn-primary" id="addNew" type="button"><i class="fa fa-plus-circle "></i> Add</button>
            </div>
            </div>*@

        <div class="form-group">
            <div class="row">
                <label class="col-md-2 control-label">Subscription Plans</label>
                <div class="col-md-10 plans">
                    <div class="plan" id="plan1">
                        @if (ViewData["Plans"] != null)
                        {
                            int count = 1;
                            int c = 1;
                            int a = 1;
                            @foreach (var item in ViewData["Plans"] as IEnumerable<PlanTemplate>)
                            {
                                count = count * 10;
                                <div class="col-xs-12 col-md-3">

                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                @item.Name.ToString()
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="the-price">
                                                @*<h1>
                                                        @("$" + count)<span class="subscript">/Mo</span>
                                                    </h1>*@
                                                @if (c != 1)
                                                {
                                                    <small>@(c + " Years FREE trial")</small>
                                                    c++;
                                                }
                                                else
                                                {

                                                    <small>@(c + " Months FREE trial")</small>
                                                    c = 2;
                                                }
                                            </div>
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        <label>No. of Cores</label><br />
                                                        @(item.NumberOfCores)
                                                    </td>
                                                </tr>
                                                <tr class="active">
                                                    <td>
                                                        <label>No. of RAM</label><br />
                                                        @(item.NumberOfRAM)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>Backup Type</label><br />
                                                        @(item.BackupType.ToString())
                                                    </td>
                                                </tr>
                                                <tr class="active">
                                                    <td>
                                                        <label>Total Storage</label><br />
                                                        @(item.TotalStorageSize)
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="btn-group" data-toggle="buttons-radio">
                                                <label class="btn btn-success checking">
                                                    <label>Subscribe</label>
                                                    @if (a == 1)
                                                    {
                                                        <input name="plan" value="@item.Id" type="radio" class="check" autocomplete="off" checked>

                                                    }
                                                    else
                                                    {
                                                        <input name="plan" value="@item.Id" type="radio" class="check" autocomplete="off">

                                                    }
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                a++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Virtual Networks</label>
            <div class="col-md-10 vns">
                <select asp-for="VirtualNetwork.Id" class="form-control virtualNetwork">
                    @if (ViewData["virtualNetworks"] != null)
                    {
                        @foreach (var item in ViewData["virtualNetworks"] as IEnumerable<VirtualNetwork>)
                        {
                            <option value="@item.Id">@item.Name.ToString()</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/test2.js">
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}