@model SUNFISH.ViewModels.New.CloudMemberVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CloudMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cloud Member Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Cloud Member Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Virtual Machine Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VirtualMachine.Id)
        </dd>
        <dt>
            VM Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VirtualMachine.Name)
        </dd>
        <dt>
            VM Operating System
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VirtualMachine.OperatingSystem)
        </dd>
        <dt>
            VM Storage Disk Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VirtualMachine.StorageDiskType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Leave">Leave Federation</a>
    <a asp-action="Index">Back to List</a>
</div>